body, .card, .card-header {
     background-color:#e7e9eb;
 } 

 body{
    background-attachment: fixed;
 }

 .card-header, .saveTable, .articlesTable{
     background-color: #f1e6c5;
 }

 .articlesTable, .saveTable {
    font-family: 'Nanum Myeongjo', serif;
 }

.jumbotron {
    background-image: url("../images/prettyBathrm.jpg");
    background-size: cover;
}

.display-4, .lead{
    text-align: right;
}

 #headerP {
    border: none;
    width: 900px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: 20px;
}


.addBtn, .deleteBtn, .addNote{
    padding: 5px;
    border-radius: 8px;
    width: 130px;
}

:hover.addBtn{
    font-weight: bold;
}

.deleteBtn{
    margin-left: 10px;
}

:hover.deleteBtn{
    font-weight: bold;
}

:hover.addNote{
    font-weight: bold;
}

#save-button, #get-button, #clear-button, #home-button{
    background-color: #dea5ac;
    color: black;
    
}

#save-button, #get-button, #clear-button{
    margin-right: 15px;
}

:hover#save-button{
    font-weight: bold;
}
:hover#get-button{
    font-weight: bold;
}
:hover#clear-button{
    font-weight: bold;
}
:hover#home-button{
    font-weight: bold;
}


.articlesTable{
    background-attachment: fixed;
    background-position: center;
}

#nothingMsg {
    font-size: 20px;
    font-style:italic;
}

#startInfo{
    font-weight: bold;
}

.infoDiv{
    position: relative;
    top:60px;
    
}
.savednotes{
    border: 1px solid;
}

/* obtained from stack overflow */
.x-btn{ 
    margin-right: 0;
    margin-left: auto;
    display: block;
}