body, .card, .card-header {
     background-color:#e7e9eb;
 } 

 .card-header{
     background-color: #f1e6c5;
 }

.jumbotron {
    background-image: url("../images/prettyBathrm.jpg");
    background-size: cover;
}

.display-4, .lead{
    text-align: right;
}

 #headerP {
    border: none;
    width: 900px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: 20px;
}


.addBtn, .deleteBtn, .addNote{
    padding: 5px;
    border-radius: 8px;
    width: 130px;
}

.deleteBtn{
    margin-left: 10px;
}

.articlesTable{
    background-attachment: fixed;
    background-position: center;
}

#nothingMsg {
    font-size: 20px;
    font-style:italic;
}

#startInfo{
    font-weight: bold;
}